<% include head %>
    <h1><%= title %></h1>
    <p>Upload a photo to your account below.</p>
    <form method='post' action="/upload">
        <p><input type='text' name='name' placeholder='Name'/></p>
        <p><input type='file' name='image'/></p>
        <p><input type='submit' value='Upload'/></p>
    </form>
<% include footer.ejs %>