body {
  margin: 0 0;
}
.aa {
  margin: 1.55rem;
  display: block;
  width: 8rem;
  height: 7.95rem;
  background: url("static/image/11.png") no-repeat center;
}
.bb {
  margin: 1.5rem;
  display: block;
  width: 9.15rem;
  height: 8.45rem;
  background: url("static/image/22.png") no-repeat center;
}
.cc {
  margin: 1.5rem;
  display: block;
  width: 9.2rem;
  height: 9.55rem;
  background: url("static/image/33.png") no-repeat center;
}
