body {
  margin: 0 0;
}
.aa {
  margin: 1.55rem;
  display: block;
  width: 8rem;
  height: 7.95rem;
  background: no-repeat center;background-position: 0 0;
}
.bb {
  margin: 1.5rem;
  display: block;
  width: 9.15rem;
  height: 8.45rem;
  background: no-repeat center;background-position: 0 -8.15rem;
}
.cc {
  margin: 1.5rem;
  display: block;
  width: 9.2rem;
  height: 9.55rem;
  background: no-repeat center;background-position: 0 -16.8rem;
}


/* static/sprite/main.png?20160908172715 */
.aa,
.bb,
.cc{
background-image: url(static/sprite/main.png?20160908172715);background-size:9.2rem 26.35rem;
}

.css_stamp{ content:"20160908172715";}